<html lang="en">
	<%- include('../partials/head.ejs')%>

		<body>
			<% if (owner) { %>
				<button onclick="socket.emit('endGame')">End Game</button>
				<% } else { %>
					<button onclick="socket.emit('leaveGame')">Leave Game</button>
					<% } %>
						<p id="game-code"><%- gameCode %></p>
						<h2>Players</h2>
						<div id="players"></div>
		</body>

		<script>
			let playersDiv = document.getElementById('players')
			let owner = '<%- owner %>'
			let currentUser = JSON.parse('<%- currentUser %>')

			if (owner == 'true') owner = true
			else owner = false

			socket.emit('getPlayers')
			socket.on('getPlayers', (players) => {
				console.log('getPlayers', players);

				playersDiv.innerHTML = ''

				for (let player of Object.values(players)) {
					let playerDiv = document.createElement('div')

					let playerName = document.createElement('p')
					playerName.innerText = player.username
					playerDiv.appendChild(playerName)

					if (
						owner &&
						currentUser.id != player.id
					) {
						let kickButton = document.createElement('button')
						kickButton.innerText = 'Kick'
						kickButton.onclick = () => {
							console.log('kick', player.id);
							socket.emit('kickPlayer', player.id)
						}
						playerDiv.appendChild(kickButton)
					}

					playersDiv.appendChild(playerDiv)
				}
			})
		</script>

</html>